<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joy.tiggle.joy">

    <!--푸쉬알림시 화면 켜짐 현정 추가-->
    <uses-permisson android:name="android.permission.WAKE_LOCK"/>

    <!-- To connect with Server. 2017-05-18 by Juha. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To use BrodacastReceiver for SMS. 2017-08-08 by Juha. -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:logo="@drawable/icon_logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SigninActivity" />
        <activity android:name=".Activity.SettingActivity" />
        <activity android:name=".Activity.CharacterActivity" />
        <activity android:name=".Activity.ShopActivity" />
        <activity android:name=".Activity.ShowIncomeDetailActivity" />
        <activity android:name=".Activity.ShowExpenseDetailActivity" />
        <activity android:name=".Activity.ModifyIncomeActivity" />
        <activity android:name=".Activity.ModifyExpenseActivity" />

        <!-- To use facebook. 2017-05-18 by Juha. -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- To use BrodacastReceiver for SMS. 2017-08-08 by Juha. -->
        <receiver
            android:name=".Receiver.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="10000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".QuestListWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quest_list_widget_info" />
        </receiver>
        <receiver android:name=".DailyExpenseWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/daily_expense_widget_info" />
        </receiver>
    </application>

    <!--서비스 등록. 서비스를 실행시킬 서비스 클래스 호출 현정 추가-->
    <service android:name=".NotificationService"
        android:enabled="true"/>
    <!--화면의 컴포넌트가 인스턴스화 될지 안될지 선택하는 속성값 현정 추가-->

    <!--리시버를 받을 클래스를 명시적으로 작성해준것 현정 추가-->
    <receiver android:name=".NotificationReceiver"/>

</manifest>